
.work-sans-original {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}

/* Shared styles */

.dark1{
    color:rgba(19, 19, 19, 1);
}
.dark2{
    color:rgba(66, 66, 66, 1);
}
.dark3{
    color:rgba(114, 114, 114, 1);
}
/* main section{
    padding:85px 240px 85px 240px;
} */
main>section{
    margin-top:130px;
}
.display-flex{
    display: flex;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
.btn{
    background-color:rgba(255, 144, 14, 1);
    color:white;
    padding:20px 25px;
    border-radius:8px;
    border: none;
    font-size:1.25rem;
    font-weight:600;
}
.description{
    font-size:1rem;
}
.images,.content,.images>img{
    width:50%;
}
.navbar,.banner,main{
    max-width: 1250px;
    margin:0 auto;
}
.orange-color{
    color:#FF900E;
}
.title2{
    font-size:2.8rem;
    font-weight: bold;
}
.title1{
    font-size:4rem;
    font-weight: bold;
}
.title3{
    font-size:1.5rem;
    font-weight: 500;
}

/* header style */

/* header{
    padding:50px 240px;
} */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.nav-item{
    list-style: none;
    margin-right:30px;
}
.nav-link{
    text-decoration: none;
    font-size:18px;
    color:rgba(66, 66, 66, 1);
}

/* banner styles */

.banner-content{
    max-width: 850px;
    margin:0 auto;
    text-align: center;
    margin-bottom:50px;
}
.banner>img{
    width:100%;
    border-radius:8px;
}

/* teams and features */

.teams{
    justify-content: space-between;
    align-items: center;
    gap:73px;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:24px;
}
.our-features{
    margin-left:74px;
    max-width:530px;
}
.quick-list{
    font-weight: 500;
}

/* feature we like */

.features{
    gap:54px;
    align-items: center;
}
.feature-image{
    border:2px solid black;
    width:calc((100% - 54px)/2);
}
.feature-item{
    padding:30px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    margin-top:20px;
}
.architect{
    height:100%;
    width:100%;
}
.experience{
    z-index:2;
}

/* fact section style  */

.facts-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:124px;
    margin:100px auto;
}
.fact{
    border:2px solid #FF900E;
    border-radius: 8px;
    padding:46px 37px 60px 36px;
    text-align: center;
}
.fact>h5,.fact>h4{
    margin:0px;
}

/* sponsors styles */

.sponsors{
    text-align: center;
    margin:80px auto;
}
.sponsors-container{
    margin-top:50px;
    justify-content: space-between;
    align-items: center;
}
.sponsors-container>img{
    
}

/* footer style  */

.footer{
    max-width: 1250px;
    margin:130px auto 216px auto;
}
.copyright{
    background-color: #FFF4E7;
    padding:38px 0px;
    text-align: center;
}


/* responsive media query */

@media screen and (max-width:576px){
    .navbar,.teams,.features,.sponsors-container{
        flex-direction: column;
    }
    .team-img-container{
        grid-template-columns: repeat(1,1fr);
    }
    .our-features{
        margin-left:20px;
    }
    .facts-container{
        grid-template-columns: repeat(1,1fr);
    }
    .feature-image,.feature-image img{
        width: 100%;
    }
    .sponsors-container{
        flex-wrap: wrap;
        gap:40px;
    }

}
@media screen and (min-width:576px) and (max-width:992px){
    .navbar,.teams,.features{
        flex-direction: column;
    }
    .our-features{
        margin:50px auto;
    }
    .facts-container{
        grid-template-columns: repeat(2,1fr);
    }
    .feature-image,.feature-image img{
        width: 100%;
    }
    .sponsors-container{
        justify-content: center;
        flex-wrap: wrap;
        gap:50px;
    }

}